*{
    margin: 0;
    padding: 0;
}

h1{
    display: inline;
    align-items: center;
}

#container{
    margin-top: 45vh;
}

#keyboard{
    position: sticky;
}

#clear{
    width: 120px;
    height: 65px;
    justify-content: center;
}

#enter{ 
    width: 120px;
    height: 65px;
    justify-content: center;
}

#instructions{
    display: block;
}

.row{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.keyButton{
    width: 65px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    color: rgb(51, 13, 103);
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgb(57, 21, 57);
    cursor: pointer;
}

.keyButton:active{
    box-shadow: 1px 1px 2px rgb(86, 65, 98);
}